@charset "utf-8";
/* CSS Document */

/*■ COMMON PARTS ---------------------------------------------*/
.btn-nocolor{
	background-color:transparent!important;
	border: 2px solid rgb(66, 139, 202);
	color:rgb(66, 139, 202);
}
.main-color{color:rgb(66, 139, 202);}
.cur-point{cursor:pointer;}
.noradius{border-radius:0!important;}
.nodecor{text-decoration: none!important;}
.noliststyle{list-style-type: none!important;}

.text-l{text-align: left;}
.text-c{text-align: center;}
.text-r{text-align: right;}
.vertical-align{vertical-align: middle!important;}
.red-text{color:red!important;}
.green-text{color:green!important;}
.red-placeholder::-webkit-input-placeholder {
    color: red;
}
.p-rela{position: relative;}
.p-abso{position: absolute;}
.p-inhe{position: inherit;}
.p-fixe{position: fixed;}

.uc{text-transform: uppercase;}
.lc{text-transform: lowercase;}
.cap{text-transform: capitalize;}
.del-btn{background-color: #dd4b39;border-color: #d73925;color:#FFF;}
.del-btn:hover{background-color: #dd4b39;color:#FFF;}
.del-btn:active{background-color: #d73925;color:#FFF;}

.border{border: 1px solid #999;}
.border-t{border-top: 1px solid #FFF;}
.border-r{border-right: 1px solid #FFF;}
.border-b{border-bottom: 1px solid #FFF;}
.border-l{border-left: 1px solid #FFF;}
.noborder{border: none!important;}
.noborder-t{border-top: none!important;}
.noborder-r{border-right: none!important;}
.noborder-b{border-bottom: none!important;}
.noborder-l{border-left: none!important;}
.border-w1{ border-width: 1px }
.border-w2{ border-width: 2px }
.border-w3{ border-width: 3px }

.dotted{border-top: 1px dotted #000;}
.dash{border: 1px dashed #000;}

.display-n{display: none;}
.display-b{display:block;}
.display-in{display:inline;}
.display-inbl{display:inline-block;}


.fl{ float:left; }
.fr{ float:right; }
.fn{ float:none; }
.fc{ clear: both; }


.clr{
clear: both;
display: block;
font-size: 1px;
margin: 0 0 -1px;
padding: 0;
height: 1px;
}


.ar{ text-align:right; }
.ac{ text-align:center; }
.al{ text-align:left; }

.vat{ vertical-align:top; }
.vam{ vertical-align:middle; }
.vab{ vertical-align:bottom; }

.lh100{ line-height:1em;}
.lh130{ line-height:1.3em;}
.lh150{ line-height:1.5em;}
.lh170{ line-height:1.7em;}

.m0a{margin:0 auto !important}
.m0{ margin:0px !important; }
.m5{ margin:5px !important; }
.m10{ margin:10px !important; }
.m15{ margin:15px !important; }
.m20{ margin:20px !important; }
.m30{ margin:30px !important; }
.m40{ margin:40px !important; }
.m50{ margin:50px !important; }

.mt0{ margin-top:0px !important; }
.mt5{ margin-top:5px !important; }
.mt10{ margin-top:10px !important; }
.mt15{ margin-top:15px !important; }
.mt20{ margin-top:20px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mt50{ margin-top:30px !important; }

.ml0{ margin-left:0px !important; }
.ml1{ margin-left:1px !important; }
.ml5{ margin-left:5px !important; }
.ml10{ margin-left:10px !important; }
.ml15{ margin-left:15px !important; }
.ml20{ margin-left:20px !important; }
.ml30{ margin-left:30px !important; }
.ml40{ margin-left:40px !important; }
.ml50{ margin-left:50px !important; }
.ml60{ margin-left:60px !important; }

.mr0{ margin-right:0px !important; }
.mr3{ margin-right:3px !important; }
.mr5{ margin-right:5px !important; }
.mr10{ margin-right:10px !important; }
.mr15{ margin-right:15px !important; }
.mr20{ margin-right:20px !important; }
.mr30{ margin-right:30px !important; }
.mr40{ margin-right:40px !important; }
.mr50{ margin-right:50px !important; }
.mr60{ margin-right:60px !important; }
.mr70{ margin-right:70px !important; }
.mr80{ margin-right:80px !important; }
.mr90{ margin-right:90px !important; }

.mb0{ margin-bottom:0px !important; }
.mb5{ margin-bottom:5px !important; }
.mb10{ margin-bottom:10px !important; }
.mb15{ margin-bottom:15px !important; }
.mb20{ margin-bottom:20px !important; }
.mb30{ margin-bottom:30px !important; }
.mb40{ margin-bottom:40px !important; }
.mb50{ margin-bottom:50px !important; }

.p0{ padding:0px   !important; }
.p5{ padding:5px   !important; }
.p10{ padding:10px !important; }
.p15{ padding:15px !important; }
.p20{ padding:20px !important; }
.p30{ padding:30px !important; }

.pt0{ padding-top:0px !important; }
.pt5{ padding-top:5px !important; }
.pt10{ padding-top:10px !important; }
.pt15{ padding-top:15px !important; }
.pt20{ padding-top:20px !important; }
.pt30{ padding-top:30px !important; }
.pt40{ padding-top:40px !important; }
.pt50{ padding-top:50px !important; }

.pl0{ padding-left:0px !important; }
.pl5{ padding-left:5px !important; }
.pl10{ padding-left:10px !important; }
.pl15{ padding-left:15px !important; }
.pl20{ padding-left:20px !important; }
.pl30{ padding-left:30px !important; }
.pl40{ padding-left:40px !important; }
.pl50{ padding-left:50px !important; }

.pr0{ padding-right:0px !important; }
.pr5{ padding-right:5px !important; }
.pr10{ padding-right:10px !important; }
.pr15{ padding-right:15px !important; }
.pr20{ padding-right:20px !important; }
.pr30{ padding-right:30px !important; }

.pb0{ padding-bottom:0px !important; }
.pb5{ padding-bottom:5px !important; }
.pb10{ padding-bottom:10px !important; }
.pb15{ padding-bottom:15px !important; }
.pb20{ padding-bottom:20px !important; }
.pb30{ padding-bottom:30px !important; }

.w100p{width: 100%}
.w90p{width: 90%}
.w80p{width: 80%}
.w50p{width: 50%}
.w5{width: 5px}
.w10{width: 10px}
.w15{width: 15px}
.w20{width: 20px}
.w25{width: 25px}
.w30{width: 30px}
.w35{width: 35px}
.w40{width: 40px}
.w45{width: 45px}
.w50{width: 50px}
.w55{width: 55px}
.w60{width: 60px}
.w65{width: 65px}
.w70{width: 70px}
.w75{width: 75px}
.w80{width: 80px}
.w100{ width:100px !important; }
.w110{ width:110px !important; }
.w120{ width:120px !important; }
.w130{ width:130px !important; }
.w140{ width:140px !important; }
.w150{ width:150px !important; }
.w160{ width:160px !important; }
.w170{ width:170px !important; }
.w180{ width:180px !important; }
.w190{ width:190px !important; }
.w200{ width:200px !important; }
.w210{ width:210px !important; }
.w220{ width:220px !important; }
.w230{ width:230px !important; }
.w240{ width:240px !important; }
.w250{ width:250px !important; }
.w260{ width:260px !important; }
.w270{ width:270px !important; }
.w280{ width:280px !important; }
.w290{ width:290px !important; }
.w300{ width:300px !important; }
.w310{ width:310px !important; }
.w320{ width:320px !important; }
.w330{ width:330px !important; }
.w340{ width:340px !important; }
.w350{ width:350px !important; }
.w360{ width:360px !important; }
.w370{ width:370px !important; }
.w380{ width:380px !important; }
.w390{ width:390px !important; }
.w400{ width:400px !important; }
.w410{ width:410px !important; }
.w420{ width:420px !important; }
.w430{ width:430px !important; }
.w440{ width:440px !important; }
.w450{ width:450px !important; }
.w460{ width:460px !important; }
.w470{ width:470px !important; }
.w480{ width:480px !important; }
.w490{ width:490px !important; }
.w500{ width:500px !important; }
.w600{ width:600px !important; }
.w700{ width:700px !important; }
.w800{ width:800px !important; }
.w900{ width:900px !important; }

.h5{height: 5px}
.h10{height: 10px}
.h15{height: 15px}
.h20{height: 20px}
.h25{height: 25px}
.h30{height: 30px}
.h35{height: 35px}
.h40{height: 40px}
.h45{height: 45px}
.h50{height: 50px}
.h55{height: 55px}
.h60{height: 60px}
.h65{height: 65px}
.h70{height: 70px}
.h75{height: 75px}
.h80{height: 80px}
.h100{height:100px !important; }
.h110{height:110px !important; }
.h120{height:120px !important; }
.h130{height:130px !important; }
.h140{height:140px !important; }
.h150{height:150px !important; }
.h160{height:160px !important; }
.h170{height:170px !important; }
.h180{height:180px !important; }
.h190{height:190px !important; }
.h200{height:200px !important; }
.h210{height:210px !important; }
.h220{height:220px !important; }
.h230{height:230px !important; }
.h240{height:240px !important; }
.h250{height:250px !important; }
.h260{height:260px !important; }
.h270{height:270px !important; }
.h280{height:280px !important; }
.h290{height:290px !important; }
.h300{height:300px !important; }
.h310{height:310px !important; }
.h320{height:320px !important; }
.h330{height:330px !important; }
.h340{height:340px !important; }
.h350{height:350px !important; }
.h360{height:360px !important; }
.h370{height:370px !important; }
.h380{height:380px !important; }
.h390{height:390px !important; }
.h400{height:400px !important; }
.h410{height:410px !important; }
.h420{height:420px !important; }
.h430{height:430px !important; }
.h440{height:440px !important; }
.h450{height:450px !important; }
.h460{height:460px !important; }
.h470{height:470px !important; }
.h480{height:480px !important; }
.h490{height:490px !important; }
.h500{height:500px !important; }
.h600{height:600px !important; }
.h700{height:700px !important; }
.h800{height:800px !important; }
.h900{height:900px !important; }

.minh100{min-height: 100px;}
.minh110{min-height: 110px;}
.minh120{min-height: 120px;}
.minh130{min-height: 130px;}
.minh140{min-height: 140px;}
.minh150{min-height: 150px;}
.minh160{min-height: 160px;}
.minh170{min-height: 170px;}
.minh180{min-height: 180px;}
.minh190{min-height: 190px;}
.minh200{min-height: 200px;}

.minw100{min-width: 100px;}
.minw110{min-width: 110px;}
.minw120{min-width: 120px;}
.minw130{min-width: 130px;}
.minw140{min-width: 140px;}
.minw150{min-width: 150px!important;}
.minw160{min-width: 160px;}
.minw170{min-width: 170px;}
.minw180{min-width: 180px;}
.minw190{min-width: 190px;}
.minw200{min-width: 200px;}


.fb{font-weight:bold !important;}
.fsize10{font-size:10px;}
.fsize11{font-size:11px;}
.fsize12{font-size:12px;}
.fsize14{font-size:14px;}
.fsize16{font-size:16px;}
.fsize18{font-size:18px;}

#error {
	color:red!important; 
	font-size:14px;
}
 
#success {
	color:#006600!important; 
	font-size:14px;
}

/***********************************
