/*
* custom.css
* by TommyDo
* June 2016
* Version 1.0
*
*/

#divLoading
{
    display : none;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 999;
    background-image : url('/img/loading.gif');
    background-color:#666;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}


.error-message{
    color: red;
}

.error-message ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/** MUsers **/
/* Index - Userlist */

/* Search bar */
.custom-search-bar{
    border: 1px solid #bfc1c3!important;
}

.custom-search-bar input{
    background-color: #ecf0f5!important;
}

.custom-search-bar input:focus{
    background-color: #FFF!important;
}

.custom-search-bar .btn{
    background-color: #ecf0f5!important;
}

/** Photo Gallery **/
/* Upload photo */

/* Popup to load dropzone */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

/** Popup dropzone **/
div.uploadPopup {
    width: 80%;
    margin: auto;
    background: white;
    position: relative;
    padding: 40px;
    border-radius: 20px;
}

/*label {*/
/*    width: 100%;*/
/*    margin-bottom: 20px;*/
/*    clear: both;*/
/*}*/

ul.imagePreview {
    width: 100%;
    clear: both;
    display: block;
}

ul.imagePreview li {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    max-height: 150px;
    cursor: pointer;
}

ul.imagePreview li.selected {
    max-height: auto;
}

ul.imagePreview li img {
    max-height: 150px;
    display: block;
    margin: auto;
}

.drop-style{
  font-size: 30px;
  color: #f39c12;
}

/** Selectable JQuery **/
#selectable { padding: 20px!important; }
#selectable div { margin: 5px 0px!important; }
#selectable div.ui-selecting { background: #FECA40; border-radius:5px;}
#selectable div.ui-selected { background: #F39814; color: white;}
#selectable img { padding: 5px }
#selectable caption { padding: 5px }
#selectable:hover{ cursor:pointer; }

/** Zoom image when hover **/
.image-zoom img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image-zoom:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
    border: 3px solid red;
}

/** Popup view product detail **/
div.viewdetail {
  width: 80%;
  margin: auto;
  background: white;
  position: relative;
  padding: 40px;
  border-radius: 20px;
}

.price-font{
  font-family: fantasy;
  font-size: 36px;
}

.popup-img{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

/* Popup tags */
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags i {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  /*margin: 0 10px 10px 0;*/
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

.tag:hover::after {
   border-left-color: #f39c12; 
}